@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

.main_bg{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imgs/banner-img.jpg") center/cover no-repeat;
    max-width: 1280px;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text h3{
    color: #fff;
    font-family: 'Bad Script', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Bad Script', cursive;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Bad Script', cursive;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #829093;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
    
}
.main-form div select option{
    font-size: 10px;
    
}
.main-form div span{
    width: 100%;
    font-family: 'Bad Script', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Bad Script', cursive;
    width: 200px;
    background: linear-gradient(rgba(21, 167, 215, 0.5), rgba(2, 2, 2, 0.5)) !important;
    color: rgb(236, 222, 222) !important;
    transition: all .5s;
    border-radius: 10px;
}
#submit input:hover{
    font-family: 'Bad Script', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    
    .form-text h1{
        
        align-items: center;
        text-align: center;
    }
    .main_bg{
        height: 900px;
    }
    
}

@media screen and (max-width:640px)
{
    
    .main_bg{
        height: 1100px;
    }
    .form{
        width: 550px;
        align-items: center;
        text-align: center;
    }
    .form-text h1{
        font-size: 30px;
    }
    
}
@media screen and (max-width:445px)
{
    
    .main_bg{
        height: 1100px;
    }
    .form{
        width: 450px;
        align-items: center;
        text-align: center;
    }
    .form-text h1{
        font-size: 25px;
    }
    .form-text h3{
        font-size: 15px;
    }
    
}
@media screen and (max-width:380px)
{
    
    .main_bg{
        height: 1100px;
    }
    .form{
        width: 400px;
        align-items: center;
        text-align: center;
    }
    .form-text h1{
        font-size: 18px;
    }
    .form-text h3{
        font-size: 12px;
    }
    .main-form div span{
        font-size: 16px;
    }
}
